// http://mcg.mbitson.com/
$frontend-primary-palette: (
	50: #f0efe1,
	100: #d9d7b3,
	200: #c0bd80,
	300: #a6a24d,
	400: #938e27,
	500: #807a01,
	600: #787201,
	700: #6d6701,
	800: #635d01,
	900: #504a00,
	A100: #fff383,
	A200: #ffef50,
	A400: #ffea1d,
	A700: #ffe703,
	contrast: (
		50: #000,
		100: #000,
		200: #000,
		300: #000,
		400: #000,
		500: #fff,
		600: #fff,
		700: #fff,
		800: #fff,
		900: #fff,
		A100: #000,
		A200: #000,
		A400: #000,
		A700: #000
	)
);
$frontend-accent-palette: (
	50: #edeef8,
	100: #d1d4ed,
	200: #b3b8e1,
	300: #959bd5,
	400: #7e85cc,
	500: #6770c3,
	600: #5f68bd,
	700: #545db5,
	800: #4a53ae,
	900: #3941a1,
	A100: #eeefff,
	A200: #bbc0ff,
	A400: #8891ff,
	A700: #6e79ff,
	contrast: (
		50: #000,
		100: #000,
		200: #000,
		300: #000,
		400: #000,
		500: #fff,
		600: #fff,
		700: #fff,
		800: #fff,
		900: #fff,
		A100: #000,
		A200: #000,
		A400: #000,
		A700: #000
	)
);
$frontend-warn-palette: (
	50: #fde1e5,
	100: #fab3be,
	200: #f78092,
	300: #f34d66,
	400: #f12746,
	500: #ee0125,
	600: #ec0121,
	700: #e9011b,
	800: #e70116,
	900: #e2000d,
	A100: #fff,
	A200: #ffd6d7,
	A400: #ffa3a5,
	A700: #ff8a8c,
	contrast: (
		50: #000,
		100: #000,
		200: #000,
		300: #000,
		400: #fff,
		500: #fff,
		600: #fff,
		700: #fff,
		800: #fff,
		900: #fff,
		A100: #000,
		A200: #000,
		A400: #000,
		A700: #000
	)
);
