// This is highly inspired by tailwind (https://tailwindcss.com/)

@use "./utils";

@mixin base($prefix: "") {
	$prefix: if($prefix == "", "", "#{$prefix}\\:");

	// display related
	.#{$prefix}block {
		display: block;
	}
	.#{$prefix}hidden {
		display: none;
	}

	// position related
	.#{$prefix}fixed {
		position: fixed;
	}
	.#{$prefix}relative {
		position: relative;
	}
	.#{$prefix}sticky {
		position: sticky;
	}

	// overflow related
	.#{$prefix}overflow-auto {
		overflow: auto;
	}
	.#{$prefix}overflow-hidden {
		overflow: hidden;
	}

	// flex related
	.#{$prefix}flex {
		display: flex;
	}

	.#{$prefix}flex-1 {
		flex: 1;
	}

	.#{$prefix}flex-col {
		flex-direction: column;
	}

	.#{$prefix}flex-row {
		flex-direction: row;
	}

	.#{$prefix}flex-wrap {
		flex-wrap: wrap;
	}

	.#{$prefix}align-i-start {
		align-items: flex-start;
	}

	.#{$prefix}align-i-center {
		align-items: center;
	}

	.#{$prefix}align-i-end {
		align-items: flex-end;
	}

	.#{$prefix}justify-c-start {
		justify-content: flex-start;
	}

	.#{$prefix}justify-c-center {
		justify-content: center;
	}

	.#{$prefix}justify-c-end {
		justify-content: flex-end;
	}

	// font related
	.#{$prefix}font-bold {
		font-weight: bold;
	}

	.#{$prefix}font-italic {
		font-style: italic;
	}

	// spacing rules
	@each $size, $value in utils.$spacing {
		// example: https://tailwindcss.com/docs/gap
		.#{$prefix}gap-#{$size} {
			gap: $value;
		}
		.#{$prefix}gap-x-#{$size} {
			row-gap: $value;
		}
		.#{$prefix}gap-y-#{$size} {
			column-gap: $value;
		}

		// example: https://tailwindcss.com/docs/margin
		.#{$prefix}m-#{$size} {
			margin: $value;
		}
		.#{$prefix}mx-#{$size} {
			margin-left: $value;
			margin-right: $value;
		}
		.#{$prefix}my-#{$size} {
			margin-bottom: $value;
			margin-top: $value;
		}
		.#{$prefix}mt-#{$size} {
			margin-top: $value;
		}
		.#{$prefix}mr-#{$size} {
			margin-right: $value;
		}
		.#{$prefix}mb-#{$size} {
			margin-bottom: $value;
		}
		.#{$prefix}ml-#{$size} {
			margin-left: $value;
		}

		// example: https://tailwindcss.com/docs/padding
		.#{$prefix}p-#{$size} {
			padding: $value;
		}
		.#{$prefix}px-#{$size} {
			padding-left: $value;
			padding-right: $value;
		}
		.#{$prefix}py-#{$size} {
			padding-bottom: $value;
			padding-top: $value;
		}
		.#{$prefix}pt-#{$size} {
			padding-top: $value;
		}
		.#{$prefix}pr-#{$size} {
			padding-right: $value;
		}
		.#{$prefix}pb-#{$size} {
			padding-bottom: $value;
		}
		.#{$prefix}pl-#{$size} {
			padding-left: $value;
		}
	}
}
