@use "sass:math";
@use "../../../../styles/utils";

:host {
	height: 100%;

	display: flex;

	.mat-mdc-list-item-icon {
		margin-right: 16px;
	}
}

#inventory-name {
	display: block;
	max-width: math.div(utils.$sidebar-width * 2, 3);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
