<!-- eslint-disable @angular-eslint/template/button-has-type -- taken from angular site -->

<h3>Basic Buttons</h3>
<div class="example-button-row">
	<button mat-button>Basic</button>
	<button color="primary" mat-button>Primary</button>
	<button color="accent" mat-button>Accent</button>
	<button color="warn" mat-button>Warn</button>
	<button disabled mat-button>Disabled</button>
	<a mat-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="example-button-row">
	<button mat-raised-button>Basic</button>
	<button color="primary" mat-raised-button>Primary</button>
	<button color="accent" mat-raised-button>Accent</button>
	<button color="warn" mat-raised-button>Warn</button>
	<button disabled mat-raised-button>Disabled</button>
	<a mat-raised-button routerLink=".">Link</a>
</div>

<h3>Stroked Buttons</h3>
<div class="example-button-row">
	<button mat-stroked-button>Basic</button>
	<button color="primary" mat-stroked-button>Primary</button>
	<button color="accent" mat-stroked-button>Accent</button>
	<button color="warn" mat-stroked-button>Warn</button>
	<button disabled mat-stroked-button>Disabled</button>
	<a mat-stroked-button routerLink=".">Link</a>
</div>

<h3>Flat Buttons</h3>
<div class="example-button-row">
	<button mat-flat-button>Basic</button>
	<button color="primary" mat-flat-button>Primary</button>
	<button color="accent" mat-flat-button>Accent</button>
	<button color="warn" mat-flat-button>Warn</button>
	<button disabled mat-flat-button>Disabled</button>
	<a mat-flat-button routerLink=".">Link</a>
</div>

<h3>Icon Buttons</h3>
<div class="example-button-row">
	<button aria-label="Example icon-button with a heart icon" mat-icon-button matTooltip="Basic">
		<mat-icon>favorite</mat-icon>
	</button>
	<button
		aria-label="Example icon-button with a heart icon"
		color="primary"
		mat-icon-button
		matTooltip="Primary"
	>
		<mat-icon>favorite</mat-icon>
	</button>
	<button
		aria-label="Example icon-button with a heart icon"
		color="accent"
		mat-icon-button
		matTooltip="Accent"
	>
		<mat-icon>favorite</mat-icon>
	</button>
	<button
		aria-label="Example icon-button with a heart icon"
		color="warn"
		mat-icon-button
		matTooltip="Warn"
	>
		<mat-icon>favorite</mat-icon>
	</button>
	<div class="example-disabled" matTooltip="Disabled">
		<button aria-label="Example icon-button with a heart icon" disabled mat-icon-button>
			<mat-icon>favorite</mat-icon>
		</button>
	</div>
	<a
		aria-label="Example icon-button with a heart icon"
		mat-icon-button
		matTooltip="Lik"
		routerLink="."
	>
		<mat-icon>favorite</mat-icon>
	</a>
</div>

<h3>Fab Buttons</h3>
<div class="example-button-row">
	<button aria-label="Example fab with a heart icon" color="primary" mat-fab matTooltip="Primary">
		<mat-icon>favorite</mat-icon>
	</button>
	<button aria-label="Example fab with a heart icon" color="accent" mat-fab matTooltip="Accent">
		<mat-icon>favorite</mat-icon>
	</button>
	<button aria-label="Example fab with a heart icon" color="warn" mat-fab matTooltip="Warn">
		<mat-icon>favorite</mat-icon>
	</button>
	<div class="example-disabled" matTooltip="Disabled">
		<button aria-label="Example fab with a heart icon" disabled mat-fab>
			<mat-icon>favorite</mat-icon>
		</button>
	</div>
	<a aria-label="Example fab with a heart icon" mat-fab matTooltip="Link" routerLink=".">
		<mat-icon>favorite</mat-icon>
	</a>
</div>

<h3>Mini Fab Buttons</h3>
<div class="example-button-row">
	<button
		aria-label="Example mini fab with a heart icon"
		color="primary"
		mat-mini-fab
		matTooltip="Primary"
	>
		<mat-icon>favorite</mat-icon>
	</button>
	<button
		aria-label="Example mini fab with a heart icon"
		color="accent"
		mat-mini-fab
		matTooltip="Accent"
	>
		<mat-icon>favorite</mat-icon>
	</button>
	<button
		aria-label="Example mini fab with a heart icon"
		color="warn"
		mat-mini-fab
		matTooltip="Warn"
	>
		<mat-icon>favorite</mat-icon>
	</button>
	<div class="example-disabled" matTooltip="Disabled">
		<button aria-label="Example mini fab with a heart icon" disabled mat-mini-fab>
			<mat-icon>favorite</mat-icon>
		</button>
	</div>
	<a
		aria-label="Example mini fab with a heart icon"
		mat-mini-fab
		matTooltip="Link"
		routerLink="."
	>
		<mat-icon>favorite</mat-icon>
	</a>
</div>

<h3>Extended Fab</h3>
<div class="example-button-row">
	<button color="primary" extended mat-fab>
		<mat-icon>favorite</mat-icon>
		Primary
	</button>
	<button color="accent" extended mat-fab>
		<mat-icon>favorite</mat-icon>
		Accent
	</button>
	<button color="warn" extended mat-fab>
		<mat-icon>favorite</mat-icon>
		Warn
	</button>
	<button disabled extended mat-fab>
		<mat-icon>favorite</mat-icon>
		Disabled
	</button>
	<a extended mat-fab routerLink=".">
		<mat-icon>favorite</mat-icon>
		Link
	</a>
</div>

<!-- eslint-enable -->
