<div class="flex flex-col" id="root">
	<app-header (menuClick)="sidenav.toggle()"></app-header>

	<mat-sidenav-container class="flex-1">
		<mat-sidenav #sidenav>
			<app-sidebar></app-sidebar>
		</mat-sidenav>

		<mat-sidenav-content>
			<div
				class="flex flex-colm m-2 sm:m-4"
				id="content"
				[class.logged]="isUserConnected | async"
			>
				<router-outlet></router-outlet>
			</div>

			<app-footer *ngIf="isUserConnected | async" class="sm:hidden"></app-footer>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
