<div>
	<p>Some view of the component:</p>

	<mat-accordion>
		<mat-expansion-panel *ngFor="let data of locationData; index as i">
			<mat-expansion-panel-header>component {{ i }}</mat-expansion-panel-header>

			<div class="flex flex-row">
				<div class="flex-1">
					<app-location-preview
						[expanded]="data.expanded"
						[hasChildren]="data.hasChildren"
						[location]="data.location"
						(delete)="addLogs(data, 'delete', $event)"
						(expandedChange)="addLogs(data, 'expanded', $event)"
					></app-location-preview>
				</div>
				<div>
					Data; for the component
					<pre>{{ data | json }}</pre>
				</div>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>
