<h4>This is the <i>dev page</i>!</h4>

<p>
	Use this to see how components looks, manage interactions or simply test stuff here that makes
	sens to keep in the repository.
</p>

<p>!! This page does not exist on a <i>non-dev</i> mode.</p>

<ul style="font-style: italic">
	<li>This section is not translated (expect for imported components)</li>
	<li>
		You can import any component from the <b>App</b> here, however no <b>Dev</b> code is allowed
		in the <b>App</b>
	</li>
</ul>

<a routerLink="styleguide">styleguide</a>
