<mat-expansion-panel
	#panel
	hideToggle
	[expanded]="expanded"
	[class.with-children]="hasChildren"
	(expandedChange)="expandedChange.emit($event)"
>
	<mat-expansion-panel-header>
		<mat-panel-title>{{ describable.name }}</mat-panel-title>

		<mat-panel-description class="flex-0 mr-0">
			<img
				src="assets/dummy-image.jpg"
				[alt]="describable.name"
				[class.fade-out]="panel.expanded"
			/>

			<ng-container>
				<mat-menu #menu>
					<a mat-menu-item [routerLink]="hrefEdit">
						<mat-icon>edit</mat-icon>
						<span>Edit</span>
					</a>
					<button mat-menu-item type="button" (click)="delete.emit(describable)">
						<mat-icon color="warn">delete</mat-icon>
						<span>Delete</span>
					</button>
				</mat-menu>

				<button
					mat-icon-button
					type="button"
					[class.fade-out]="!panel.expanded"
					[matMenuTriggerFor]="menu"
					(click)="$event.stopPropagation()"
				>
					<mat-icon>more_vert</mat-icon>
				</button>
			</ng-container>
		</mat-panel-description>
	</mat-expansion-panel-header>

	<div class="flex flex-col md:flex-row" id="content">
		<div id="image">
			<img src="assets/dummy-image.jpg" [alt]="describable.name" />
		</div>

		<div class="flex flex-1 flex-col gap-8 p-4" id="describable-description">
			<p *ngIf="describable.description" class="flex-1">
				{{ describable.description }}
			</p>
			<p *ngIf="!describable.description" class="flex-1 font-italic" translate>
				components.describable-preview.description-none
			</p>

			<div class="flex justify-c-end">
				<a color="primary" mat-raised-button [routerLink]="hrefShow">
					{{ "actions.show" | translate }}</a
				>
			</div>
		</div>
	</div>
</mat-expansion-panel>
