<div class="flex flex-col gap-4">
	<h1 *ngIf="!categoryState" translate>views.inventories.roots.title</h1>
	<h1 *ngIf="categoryState">
		{{ "views.inventories.one.title._0" | translate }}
		<span class="font-italic">{{ categoryState.data?.name || "???" }}</span>
		{{ "views.inventories.one.title._1" | translate }}
	</h1>

	<mat-card *ngIf="categoryState">
		<mat-card-content class="flex flex-col gap-4">
			<div *ngIf="categoryState.error" class="flex flex-row gap-2 align-i-center">
				<mat-icon color="warn">warning</mat-icon>
				<span translate>errors.occurred</span>
			</div>

			<div *ngIf="categoryState.data as category" class="flex flex-col gap-2">
				<div class="mx-4">
					<div class="flex flex-row flex-wrap gap-x-4">
						<span translate>entities.entity.created</span>
						<span class="flex flex-1 justify-c-end">
							{{ category.created | date : ("formats.datetime" | translate) }}</span
						>
					</div>
					<div class="flex flex-row flex-wrap gap-x-4">
						<span translate>entities.entity.updated</span>
						<span class="flex flex-1 justify-c-end">
							{{ category.updated | date : ("formats.datetime" | translate) }}</span
						>
					</div>
				</div>

				<p *ngIf="category.description">{{ category.description }}</p>

				<div class="flex flex-row gap-2 justify-c-end">
					<a
						color="accent"
						mat-mini-fab
						type="button"
						[routerLink]="getCategoryHrefEdit(category)"
					>
						<mat-icon>edit</mat-icon>
					</a>

					<button
						color="warn"
						mat-mini-fab
						type="button"
						(click)="handleDelete(category)"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</mat-card-content>
	</mat-card>

	<ng-template #tplBrowserCategories>
		<div class="flex flex-col gap-2">
			<app-describable-browser
				#browserCategories
				[loader]="loadCategories.bind(this)"
				(remove)="handleCategoryRemove($event)"
			></app-describable-browser>

			<form class="flex flex-1" (ngSubmit)="addNewCategory()">
				<mat-form-field class="flex flex-1">
					<mat-label translate>entities.category.name</mat-label>
					<input matInput [formControl]="addCategoryNameControl" />

					<button
						mat-icon-button
						matSuffix
						type="submit"
						[disabled]="addCategoryNameControl.dirty && addCategoryNameControl.invalid"
					>
						<mat-icon>add</mat-icon>
					</button>
				</mat-form-field>
			</form>
		</div>
	</ng-template>

	<mat-card>
		<mat-card-content *ngIf="!categoryState">
			<ng-container *ngTemplateOutlet="tplBrowserCategories"></ng-container>
		</mat-card-content>

		<mat-card-content *ngIf="categoryState">
			<mat-tab-group>
				<mat-tab [label]="'entities.category.__meta.names' | translate">
					<ng-container *ngTemplateOutlet="tplBrowserCategories"></ng-container>
				</mat-tab>
				<mat-tab [label]="'entities.item-model.__meta.names' | translate">
					<app-describable-browser
						#browserItems
						[loader]="loadItems.bind(this)"
						(remove)="handleItemRemove($event)"
					></app-describable-browser>
				</mat-tab>
			</mat-tab-group>
		</mat-card-content>
	</mat-card>
</div>
